   .mobile-menu {
       position: fixed;
       top: 0;
       left: 0;
       width: 100%;
       height: 100%;
       display: flex;
       flex-direction: column;
       background-color: var(--second-accent-text-color);
       padding: 40px;
   }

   .mobile-menu__contacts {
       margin-top: auto;
   }
.mobile-menu__link {
    font-family: 'Roboto';
    // font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: var(--text-title-color);
}
   .mobile-menu__socials {
       display: flex;
       margin-right: auto;
       margin-left: auto;
   }

   .mobile-menu__item-socials {
       margin-right: 20px;
       &.last-child {
           margin-right: 0;
       }
   }
   