   .menu-container {
       display: none;
       
       @media screen and (max-width: 767px) {

            position: fixed;
            
            left: 0;
            width: 100vw;
            height: 100vh;
            z-index: 1;
            opacity: 1;
            overflow: auto;
                display: flex;
                flex-direction: column;
                background-color: var(--second-accent-text-color);
                transition: opacity var(--slow-anim), visibility var(--slow-anim);
                padding: 48px 40px 48px 40px;
                
            
            &.is-open {
                    
                display: block;
                transform: translateX(0);
       }
   }
   }
    
   .menu-button {
       display: inline-flex;
       margin: 0;
       margin-left: auto;
       padding: 0;
       border: none;
       background-color: transparent;

       @media screen and (min-width: 768px) {
           display: none;
       }
   }

   .menu-button .icon-menu-close {
       display: none;
   }

   .menu-button.is-open .icon-menu-close {
       display: block;
   }

   .menu-button.is-open .icon-menu {
       display: none;
   }


   .mobile-menu__contacts {
       margin-top: auto;
       
   }

   .mobile-menu__link-curent {
        color: var(--accent-color);
   }

   .mobile-menu__item-contacts {
    list-style: none;
    margin-bottom: 32px;

   }

   .mobile-menu__link-phone {
        
        font-weight: 500;
        font-size: 34px;
        line-height: 1.17;
    
        letter-spacing: 0.02em;
    
        color: #2196F3;
        text-decoration: none;
       
   }

   .mobile-menu__link-email   {
       
        font-weight: 500;
        font-size: 24px;
        line-height: 1.16;
        letter-spacing: 0.02em;
    
        color: #757575;
        text-decoration: none;
   }

   .mobile-menu__item-nav {
       list-style: none;
        
   }

  .mobile-menu__link-nav {
      
      font-weight: 500;
      font-size: 40px;
      line-height: 1.17;
      letter-spacing: 0.02em;

      color: #212121;
      text-decoration: none;
     
  }


   .mobile-menu__socials {
       display: flex;
    
   }

    .mobile-menu__item-socials  {
        list-style: none;
        justify-content: flex-start;
        
        &:not(:last-child) {
            padding-right: 10px;
            margin-right: 10px;
            border-right: 1px solid rgba(33, 33, 33, 0.2);
        }
        
        
        
        
    }

    .mobile-menu__item-socials:not(:last-child) {
        margin-right: 20px;
    }

    .mobile-menu__link-socials {
        text-decoration: none;
        font-weight: 500;
        font-size: 18px;
        line-height: 1.22;
        
        letter-spacing: 0.02em;
        
        color: #2196F3;
        
       
    
        
    }
    
         