/*Section Clients*/



.cliets__title {
    color: var(--text-title-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    margin-bottom: 50px;
}

.clients__list {
    
    display: flex;
    flex-wrap: wrap;
}

.clients__item {
    
    @media screen and (min-width: 480px) {
        width: calc((100% - 2 * 15px)/2);
        margin: 15px;
    }
}

.clients__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 92px;
    color: var(--main-icons-color);
    border: 1px solid var(--main-icons-color);
    border-radius: 4px;
    transition: color var(--slow-anim), border-color var(--slow-anim);

    &:hover,
    &:focus {
            color: var(--accent-color);
            border-color: var(--accent-color);
        }
}

.clients__icon {
    fill: currentColor;
}